/* This file is a part Kočakote. © Jonatan Nordentoft 2016. See LICENSE.md for details */

@font-face {
    font-family: Kocakote;
    src: url("font.ttf");
}


body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

body {
    margin: 100px 20%;
    margin-bottom: 32px;

    font-feature-settings: "kern";
    font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-kerning: normal;
}

@media (max-width: 800px) {
    body {
        margin: 100px 32px;
    }
}

h1, h2, h3, h4 {
    font-family: Georgia, Times, TimesNewRoman, 'Times New Roman', serif;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 28px;
    padding-bottom: 5px;
    border-bottom: #ccc solid 2px;
    margin-top: 64px;
}

h3 {
    font-size: 26px;
}

h4 > .k {
    font-size: 75px;
}

p, label, li, th, td, footer, .analysis, b {
    font-family: 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', sans-serif;
}

p, .analysis {
    font-size: 22px;
}

p {
    text-align: justify;
}

p.k {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 65px;
}

.k {
    font-family: Kocakote;
    font-weight: normal;
    font-size: 300%;
    line-height: 30px;
}

input.k {
    line-height: normal;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.displayfigure {
    overflow: auto;
    width: 100%;
}

.displayfigure > * {
    margin: auto;
}

footer {
    text-align: center;
    margin-top: 128px;
}

.ipa {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

.ipa:before, .ipa:after {
    content: '/';
}

table.small {
    font-size: 12px;
}

table.chess {
    border-collapse: collapse;
}

table.chess tr>* {
    padding: 10px;
}

table.chess tr:nth-child(even)>td:nth-child(even), table.chess tr:nth-child(odd)>td:nth-child(odd) {
    background-color: #ccc;
}

table.chess tr:nth-child(even)>td:nth-child(odd), table.chess tr:nth-child(odd)>td:nth-child(even) {
    background-color: #ddd;
}

.definition {
    margin-top: 16px;
    font-size: 16px;
}




.analysis {
    margin-left: 32px;
}

.analysis > * {
    min-width: 24px;
    height: 55px;
    text-align: center;
    display: inline-block;
    background-size: 24px, calc(50% - 15px) 2px, calc(50% - 15px) 2px;
    background-repeat: no-repeat;
    background-position: 50% 100%, 3px calc(100% - 12px), calc(100% - 3px) calc(100% - 12px);
    margin-bottom: 16px;
}

.analysis > *.k {
    height: 65px;
}

.analysis > .subject {
    background-image: url(images/subject.png);
}

.analysis > .subject.long {
    background-image: url(images/subject.png), url(images/line.png), url(images/line.png);
}

.analysis > .verb {
    background-image: url(images/verb.png);
}

.analysis > .subjectverb {
    background-image: url(images/subjectverb.png);
    background-size: 52.5px 24px, calc(50% - 30px) 2px, calc(50% - 30px) 2px;
}

.analysis > .subjectverb.long {
    background-image: url(images/subjectverb.png), url(images/line.png), url(images/line.png);
}

.analysis > .verb.long {
    background-image: url(images/verb.png), url(images/line.png), url(images/line.png);
}

.analysis > .object {
    background-image: url(images/object.png);
}

.analysis > .object.long {
    background-image: url(images/object.png), url(images/line.png), url(images/line.png);
}




#toc li > a {
    text-decoration: none;
    border-bottom: 2px solid black;
}

#toc li > a:hover {
    border-bottom: none;
}

#writingSystemTable tr > td {
    text-align: center;
    padding: 1px 4px;
}

#writingSystemTable tr:nth-child(2) > td {
    padding-right: 8px;
}

#writingSystemTable tr > td:nth-child(even) {
    background-color: #ccc;
}

#writingSystemTable tr > td:nth-child(odd) {
    background-color: #ddd;
}

#writingSystemTable tr:nth-child(-n+2) > td {
    font-size: 40px;
}

#writingSystemComparison {
    border-spacing: 0;
}

#writingSystemComparison tr:first-child {
    font-size: 20px;
    text-align: center;
}

#writingSystemComparison tr:last-child {
    font-size: 40px;
}

#writingSystemComparison td {
    padding: 0;
    min-width: 15px;
}

#endingtable {
    min-width: 1010px;
}

#activeTool {
    margin-bottom: 32px;
}

.toolInput {
    display: flex;
}

.toolInput > :first-child {
    margin-right: 12px;
}

.toolInput > div {
    display: flex;
    flex-direction: column
}

.toolInput > div > :not(:last-child) {
    margin-bottom: 10px;
}

.toolTextOutput {
    border: 1px solid gray;

    font-family: Kocakote;
    font-weight: normal;
    font-size: 100px;
}

#verbTool {
    display: flex;
    flex-wrap: wrap;
}

#verbTool > :not(:last-child) {
    margin-right: 24px;
}

#verbTool > .toolTextOutput {
    margin-top: 16px;
    width: 250px;
    flex-grow: 1;
}
